/* Universal Styles */


/* Body */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F4F4F;
    color: #fff;
    height: 65px;
}

.form-group {
    display: flex;
}

button {
    margin-left: 10px !important;
}
.container-fluid {
    width: 90%;
    margin-top: 3%;
}

#search-container {
    margin-right: 2%;
}

#forecast-container {
    margin-top: 2%;
}

.forecast-title {
    margin-bottom: 1.5%;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color:#fff;
}

h4.date {
    font-weight: bold;
}

.day {
    flex-direction: column;
}

.day p {
    display: flex;
}